/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: inherit;
  border: 0;
  border-color: inherit;
  border-width: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: inherit;
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

}

button,
input[type="submit"] {
  cursor: pointer;
  cursor: hand;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
