/* PHASE 1: Header */

.header{
  background: #f00;
  border: solid #ccc;
  border-width: 0 0 1px 0;
  position: relative;
  z-index: 1;
}

.header-nav{
  margin: auto;
  width: 900px;
  color: #fff;
}

.header-logo{
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  float: left;
  border: solid #ccc;
  border-width: 0 1px;
}

.header-logo:hover{
  background-color: #000;
}

.header-list{
  font-weight: 400;
  font-size: 16px;
  float: right;
}


li{
  padding: 10px 20px;
  float: left;
  border: solid #ccc;
  border-width: 0 1px;
}

li:hover{
  background-color: #000;
}

li:nth-last-child(2){ /* no double border for profile */
  margin: -1px;
}
