/* PHASE 3: Layout */

.content {
  background: #fff;
  min-height: 200px;
  width: 900px;
  position: relative;
  margin: auto;
}

.content-sidebar {
  width: 240px;
  border: solid #ccc;
  border-width: 1px;
  float: left;
}

.content-main {
  width: 657px;
  border: solid #ccc;
  border-width: 1px;
  float: right;
  margin-left: -1px;
}
